.git
.github
.vscode
.idea
node_modules
*.log
.DS_Store
.env
.env.*
src
tests
nodes/**/*.ts
nodes/**/*.json
!nodes/**/*.node.json
credentials/**/*.ts
tsconfig.json
tsconfig.tsbuildinfo
gulpfile.js
.eslintrc.js
.eslintrc.prepublish.js
.prettierrc.js
.gitignore
